@import "./partials/variables";

.cookies {
  align-items: center;
  background-color: $color-blue;
  bottom: 0;
  color: $color-white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 5rem;
  opacity: 1;
  padding: 0 2rem;
  position: fixed;
  transition: opacity 0.3s;
  width: 100%;
  z-index: 1;
}

.cookies-icon {
  font-size: 2.25rem;
}

.cookies-text {
  font-size: 1.125rem;
}

.cookies-button {
  background-color: $color-white;
  border: none;
  color: $color-blue;
  font-size: 1.125rem;
  padding: 12px 16px;
  transition: all 0.3s;
  margin-left: auto;
}

.cookies-button:hover {
  background-color: $color-orange;
  color: $color-white;
  cursor: pointer;
}

// ====================================================
// ================= RESPONSIVE 1215px ================
// ====================================================

@media (max-width: 1215px) {
  .cookies {
    gap: 1rem;
    // justify-content: space-around;
    padding: 12px 4rem;
  }

  .cookies-icon {
    font-size: 3rem;
  }

  .cookies-text {
    line-height: 1.5;
    width: 50%;
  }
}

// ====================================================
// ================= RESPONSIVE 730px =================
// ====================================================

@media (max-width: 730px) {
  .cookies {
    flex-direction: column;
  }

  .cookies-icon {
    font-size: 2rem;
  }

  .cookies-text {
    font-size: 1rem;
    width: 100%;
  }

  .cookies-button {
    font-size: 1rem;
    margin-left: 0;
  }
}
