@import "./partials/variables";

.footer {
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;

  display: flex;
  justify-content: center;
}

.footer__icon {
  color: $color-grey;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transition: all 0.3s;
}

.footer__icon:hover {
  color: $color-blue;
}
