@import "./partials/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  border-bottom: 8px solid $color-blue;
  color: $color-grey;
  font-family: "Inter", sans-serif;
}

.website {
  margin: 0 auto;
  max-width: 75rem;
}

// ==================== Additional ====================

.color-blue {
  color: $color-blue;
}

// ====================================================
// ================= RESPONSIVE 1215px ================
// ====================================================

// @media (max-width: 1215px) {
//   .website {
//     max-width: 0;
//   }
// }

// ====================================================
// ================= RESPONSIVE 730px =================
// ====================================================

@media (max-width: 730px) {
  body {
    border-bottom: 4px solid $color-blue;
  }
} ;
