@import "./partials/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border-bottom: 8px solid $color-blue;
  color: $color-grey;
  font-family: "Inter", sans-serif;
}

.website {
  margin: 0 auto;
  width: 1200px;
}

// ==================== Additional ====================

.color-blue {
  color: $color-blue;
}

// ====================================================
// ================= RESPONSIVE 810px =================
// ====================================================

@media (max-width: 1215px) {
}
