@import "./partials/variables";

.header {
  column-gap: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.header__hero {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.header__hero__title {
  font-size: 2.75rem;
  letter-spacing: -0.063rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.header__hero__text {
  font-size: 1.125rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.header__hero__icon {
  color: $color-blue;
  font-size: 2.5rem;
  margin-right: 0.7rem;
  transition: all 0.3s;
}

.header__hero__icon:hover {
  color: $color-orange;
}

.header__image {
  width: 100%;
}

// ====================================================
// ================= RESPONSIVE 1215px ================
// ====================================================

@media (max-width: 1215px) {
  .header {
    column-gap: none;
    grid-template-columns: repeat(1, 1fr);
    margin: 4rem 3.75rem 6rem 3.75rem;
  }

  .header__hero__title {
    margin-bottom: 3rem;
    max-width: 31.25rem;
  }

  .header__hero__text {
    margin-bottom: 3rem;
  }

  .header__hero__icons {
    margin-bottom: 3rem;
  }
}

// ====================================================
// ================= RESPONSIVE 730px =================
// ====================================================

@media (max-width: 730px) {
  .header {
    margin: 3rem 1.5rem 5rem 1.5rem;
  }

  .header__hero__title {
    font-size: 1.88rem;
    margin-bottom: 2rem;
  }

  .header__hero__text {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  .header__hero__icon {
    font-size: 2.3rem;
    margin-right: 0.7rem;
  }
} ;
